In [ ]:
# Este ejemplo se corre con las siguientes versiones
# pd.__version__
# 1.0.2
# sklearn.__version__
# 0.22.1
# matplotlib.__version__
# 3.1.3
# np.__version__
# 1.18.1

In [59]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [65]:
data = pd.read_csv("tennis.csv")
data.head(4)

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes

In [67]:
number = LabelEncoder()
data['outlook'] = number.fit_transform(data['outlook'])
data['temp'] = number.fit_transform(data['temp'])
data['humidity'] = number.fit_transform(data['humidity'])
data['windy'] = number.fit_transform(data['windy'])
data['play'] = number.fit_transform(data['play'])
label=data['play']
del data['play']

In [68]:
data.head(4)

   outlook  temp  humidity  windy
0        2     1         0      0
1        2     1         0      1
2        0     1         0      0
3        1     2         0      0

In [63]:
x_train, x_test, y_train, y_test = train_test_split(data, label, 
                                   test_size = 0.25,random_state = 54)

In [64]:
model = MultinomialNB()
model.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [58]:
pred = model.predict(x_test)
accuracy = accuracy_score(y_test, pred)
print(accuracy)

0.75

In [17]:
data

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0