In [ ]:
# Este ejemplo se corre con las siguientes versiones
# pd.__version__
# 1.0.2
# sklearn.__version__
# 0.22.1
# matplotlib.__version__
# 3.1.3
# np.__version__
# 1.18.1

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df1 = pd.read_csv('dataimputar.csv')

In [ ]:
df1

# dropna()

In [ ]:
df_clean = df1.dropna(axis='columns')
df_clean

In [ ]:
df1

In [ ]:
df_clean = df1.dropna(thresh=3, axis='rows')
df_clean

In [ ]:
df_clean = df1.dropna(subset=['A','B'])
df_clean

# isnull()

In [ ]:
df1['C'].isnull().sum()

In [ ]:
for i in df1.columns: 
    print(i+': '+ str(df1[i].isnull().sum()))

# fillna()

In [ ]:
df1.fillna(method = "backfill")

In [ ]:
df1

In [ ]:
df1.fillna(method = "ffill")

In [ ]:
df1.fillna(method='ffill').fillna(method='bfill')

In [ ]:
df1.fillna(value=df1.mean())

# Creación de dataframes

In [ ]:
df = pd.DataFrame([[1,  None, 2],
                   [2,  3,    5],
                   [3, 3.5,    np.nan],
                   [np.nan, 4,      6]], columns = ['A', 'B', 'C'])
df

In [ ]:
df = pd.DataFrame([[1,      np.nan, 2, 'Curicó'],
                   [0,      3,      5, 'Pichilemu'],
                   [1, 3.5,    np.nan, 'Santiago'],
                   [np.nan, 4,      6, 'Santiago'], 
                   [0,      2.8, 2, 'Chiloé'],                   
                   [0,      3.1, 3, 'Curicó'], 
                   [1,      5.2, 4, 'Santiago'], 
                   [0,      0.0, 2, 'Pichilemu'], 
                   [1,      np.nan, None, 'Santiago'], 
                   [1,      np.nan, 2.1, 'Santiago'], ], columns = ['A', 'B', 'C', 'D'])
df.to_csv('ejemplodata2.csv')

In [ ]:
df = pd.DataFrame([[1,      None, 2],
                   [2,      3,      5],
                   [3, 3.5,    np.nan],
                   [np.nan, 4,      6]], columns = ['A', 'B', 'C'])
df