# Ordenamiento y Agrupación

### Índice

- Agrupación de filas de una tabla con GROUP BY

- Ordenamiento del resultado con ORDER BY

***

#### 1. ORDER BY and GROUP BY

##### 1.1 GROUP BY

**Esta clausula resume combinaciones únicas de valores dentro de las columnas.**

-Devuelve los valores únicos dentro de la columna (agrupa).

- Resulta útil para posteriormente aplicar operaciones como suma o promedios de valores sobre esos valores.

**Ejemplo:**

SELECT   SalesOrderID,

         SUM(OrderQty* UnitPrice) As TotalPrice

FROM     Sales.SalesOrderDetail

**GROUP BY SalesOrderID**

***

##### 1.2 ORDER BY

**Esta clausula ordena de menor a mayor, en base a una columna, el resultado de una query.**

**Ejemplo:**

SELECT   SalesOrderID,
         ProductID,
         OrderQty* UnitPrice As ExtendedPrice

FROM     Sales.SalesOrderDetail

**ORDER BY SalesOrderID will sort the value, according to SalesOrderID.**

- Every row in the table is included in the result.  

- The values are sorted in ascending order according to the SalesOrderID

***

### 1.3 Ejemplo aplicado:

##### - 1.3.1 Importamos el conector, y creamos el cursor.

import mysql.connector as db

mydb = db.connect(
    host = "localhost"
    user = "root"
    passwd = ""
    database = "Energía"
)

***

miCursor = mydb.cursor()

***

##### - 1.3.2 Creamos las sentencias de ordenamiento y Agrupación.

**Selecciona todas las filas desde table1**

#sqlSentece = "SELECT * FROM table1"

***

**Selecciona el atributo1 y la suma del atributo2, desde la tabla1, agrupados por el atributo1**

#sqlSentence = "SELECT atributo1,SUM(atributo2)\ 
                
                FROM table1\ 
                
                **GROUP BY atributo**1"
                
***

**Selecciona el atributo1 y la suma del atributo2, desde la tabla1, ordenados de manera ascendente por el atributo2**

#sqlSentence = "SELECT atributo1,SUM(atributo2)\
                
                FROM table1\ 
                
                **GROUP BY atributo1**\
                
                **ORDER BY atributo2**"

***

##### - 1.3.3 Visualizamos los resultados

***

miCursor.execute(sqlSentence)

***

rows = miCursor.fetchall()
for row in rows:
    
    print(row)

### 2. WHERE and HAVING clauses

**The main difference between WHERE and HAVING clause comes when used together with GROUP BY clause.**

**2.1 WHERE** is used to filter rows before grouping.

**2.2 HAVING** is used to exclude records after grouping.

### 2.3 Ejemplo aplicado:

##### - 2.3.1 Importamos el conector, y creamos el cursor.

import mysql.connector as db

mydb = db.connect(
    host = "localhost"
    user = "root"
    passwd = ""
    database = "Energía"
)

***

miCursor = mydb.cursor()

***

##### - 2.3.2 Creamos las sentencias de ordenamiento y agrupación con WHERE y HAVING

**Selecciona el atributo1 y la suma del atributo2 como total, desde la tabla1, agrupándo  aquellos atributo1 en donde el total sea mayor a 3000; luego, ordénalos por la suma del atributo1 de manera ascendente**

#sqlSentence = "SELECT atributo1,SUM(atributo2) as a total\ 
                
                FROM table1\

                GROUP BY atributo1 **HAVING total > 3000**\
                
                **ORDER BY SUM(atributo1) ASC**" 

***

**Selecciona el atributo1 y la suma del atributo2 como total, desde table1, en donde el atributo3 sea mayor a 2015, y agrupalos por los atributo1 que tengan un total mayor a 3000; finalmente ordenalos por la suma del atributo2, de manera ascendente.**

#sqlSentence = "SELECT atributo1, SUM(atributo2) as total\ 
                
                FROM table1\
                
                **WHERE atributo3 > 2015**\
            
                GROUP BY atributo1 **HAVING total > 3000**\ 
                
                ORDER BY SUM(atributo2) ASC"

##### - 2.3.3 Visualizamos los resultados

***

miCursor.execute(sqlSentence)

***

rows = miCursor.fetchall()
for row in rows:
    
    print(row)