### Operaciones de Conjunto y Cláusulas de Agrupación

### Índice

- Operadores estadísticos

- Cláusulas de agrupación

- Agrupación selectiva

- Orden final

### Introducción

- Motivación

- El poder expresivo de SQL

- Conjuntos

- Agrupaciones

### SQL Operadores de Conjunto

- Una tabla puede ser vista como un conjunto de tuplas. No hay elementos repetidos.

- Es posible usar operadores de conjuntos entre dos tablas o entre los resultados de dos **SELECT**.

- SQL standard define: **UNION, INTERSECT, EXCEPT**,sin embargo el motor MySQL solo soporta el operador UNION, siendo posible simular las otras dos mediante recursos de **SELECT**.

### Ejemplo de UNION

Libros que comeinzan con "B" o terminan con "S"

SELECT titulo

FROM Libros

WHERE titulo LIKE "B%"

**UNION**

SELECT titulo

FROM Libros

WHERE titulo LIKE "%S"

### Operadores Estadísticos en SQL

Los operadores más comines son:
    
- **AVG** - promedio

- **SUM** - la sumatoria

- **MIN** - el menor valor

- **MAX** - el mayor valor

- **COUNT** - el N

### Ejemplo Operadores Estadísticos SQL

SELECT MIN(sueldo), MAX(sueldo)
 FROM Personal;

SELECT AVG(sueldo)AS Promedio, SUM(Sueldo) AS Total
 FROM Personal

SELECT COUNT (*)AS Empleados
 FROM Personal

### SQL Clausula de Agrupación

En ocasiones uno desea efectuar operaciones estadísticas solo sobre grupos de filas.

Ejemplo: Tabla con información de epleados que además tiene el cargo como atributo.
    
Sería interesante entonces, agrupar por cargo:
    
    - ¿Cuál es el sueldo promedio de un Junior?
    
    - ¿Cuál es el sueldo promedio de un Ingeniero?
    
    - ¿Cuántos Junior hay?
    
    - ¿Cuál es el mayor sueldo para un junior?

**Ejemplo1:**

SELECT cargo,AVG(sueldo)AS Sueldo_Promedio

FROM Personal

**GROUP BY** cargo; # los operadores de agregación van a operar para el grupo que tome un determinado cargo.

***

**Ejemplo2:**

SELECT cargo,MIN(sueldo) AS Sueldo_Minimo

MAX(sueldo)AS Sueldo_Maximo

FROM Personal

**GROUP BY** cargo;

### HAVING

¿Y si no queremos que aparezcan todas las categorías?

Por ejemplo, solo estafetas y juniors o solo los cargos con sieldo promedio sobre 700.000. Para ello se agrega una clausula **HAVING** que discrimina por grupo:

**Ejemplo1:**

SELECT cargo, AVG(sueldo)AS Sueldo_Promedio

FROM Personal

GROUPBY cargo

**HAVING** cargo = "estafeta" OR cargo="junior";

***

**Ejemplo2:**

SELECT cargo,AVG(sueldo)AS Sueldo_Promedio

FROM Personal

GROUP BY cargo

HAVING AVG(sueldo)>700.000;

### HAVING no es lo mismo que WHERE

WHERE: hace un filtrado de tuplas antes de ser seleccionadas.

HAVING: hace una tupla de grupos. Una vez que ya tenemos agrupados los grupos, se define cuáles van a salir y cuaés no.

### Ordenando el Resultado

##### ORDER BY

Para que el resultado de una consulta se entregue ordenando de acuerdo a algún atributo, se agrega al final del SELECT la cláusula **ORDER BY**.

Se debe especificar el o los atributos usados como criterio, opcionalmente se puede agregar **DESC** si se requiere un ordenamiento descendente.

**Ejemplo:**

SELECT apellido,nombre

FROM Personal

**ORDER BY** apellido ASC, nombre ASC;

### Síntesis

- El estándar SQL incluye operaciones de conjunto, unión, intersección y diferencia.

- MySQL solo soporta UNION (los otros pueden ser construidos).

- Los operadores estadísticos actúan sobre todos los valores de una columna.

- Pueden contarse, sumarse, promediarse, o buscar los menores y mayores valores.