# Eliminación y Modificación de Filas de una Tabla

### Índice

- Eliminación de una o más filas

- Modificación de la información de una o más filas

### 1. Ejemplo Eliminación

**1.1 Crearemos una bdd para posteriormente eliminar filas de una de sus tablas.**

import mysql.connector as db

mydb = db.connect(
        
        host = "localhost",
        
        user = "root",
        
        passwd = "",
        
        database = "newDatabase")

***

miCursor = mydb.cursor()

insertSentence = "INSERT INTO table(at1,at2,at3) VALUES(%s,%s,%s)"

filas = [("hugo", "hugo@gmail.com", 25),("Paco", "paco@gmail.com", 36), ("Luis","luis@gmail.com", 27)]

miCursor.executemany(insertSentence,filas)
mydb.commit()

***

**1.2 Consultamos la bdd para ver que haya sido creada oportunamente**

consultSentence = "SELECT * FROM USERS"

miCursor.execute(consultSentence)

rows = miCursor.fetchall()

print("=== Agregadas las tuplas===")

for row in rows:
    
    print(row)

##### 1.3 Creamos y aplicamos la sentencia de eliminación

delete_sentence = "DELETE FROM table WHERE at1 LIKE '%o'"" # debe terminar en "o".

#delete_sentence2 = "DELETE FROM table WHERE at2 < 25"

miCursor.execute(delete_sentence)

mydb.commit()

***

##### 1.4 Visualizamos la eliminación hecha

consultSentence = "SELECT * FROM USERS"

miCursor.execute(consultSentence)

rows = miCursor.fetchall()

print("=== Después de Eliminar ===")

for row in rows:
    
    print(row)

##### 1.5. Revisión del código de eliminar.py

In [27]:
import pandas as pd
pd.options.display.max_colwidth = 100
index_labels=["Primero", "Segundo", "Tercero", "Cuarto", "Quinto", "Sexto"]
filas = [["Importar el conector de Python con MySQL."],["Con el conector crear un objeto conexión y con la conexión crear un cursor."], ["Insertar tres tuplas con executemany."],["Imprimir todas las tuplas de la tabla."], ["Eliminar las tuplas en que el nombre de usuario termina en 'o'."],["Imprimir todas las tuplas de la tabla."]]
pd.DataFrame(filas, columns=["Pasos"], index=index_labels)

                                                                               Pasos
Primero                                    Importar el conector de Python con MySQL.
Segundo  Con el conector crear un objeto conexión y con la conexión crear un cursor.
Tercero                                        Insertar tres tuplas con executemany.
Cuarto                                        Imprimir todas las tuplas de la tabla.
Quinto               Eliminar las tuplas en que el nombre de usuario termina en 'o'.
Sexto                                         Imprimir todas las tuplas de la tabla.

### 2. Ejemplo Modificación

**2.1 Crearemos una bdd para posteriormente modificar filas de una de sus tablas.**

import mysql.connector as db

mydb = db.connect(
        
        host = "localhost",
        
        user = "root",
        
        passwd = "",
        
        database = "newDatabase")

***

miCursor = mydb.cursor()

insertSentence = "INSERT INTO table(at1,at2,at3) VALUES(%s,%s,%s)"

filas = [("hugo", "hugo@gmail.com", 25),("Paco", "paco@gmail.com", 36), ("Luis","luis@gmail.com", 27)]

miCursor.executemany(insertSentence,filas)

mydb.commit()

**2.2 Consultamos la bdd para ver que haya sido creada oportunamente**

consultSentence = "SELECT * FROM USERS"

miCursor.execute(consultSentence)

rows = miCursor.fetchall()

print("=== Agregadas las tuplas===")

for row in rows:
    
    print(row)

**2.3 Creamos y aplicamos la sentencia de modificación**

updateSentence = "UPDATE table SET at1 =18 WHERE at2 ='value'"

#updateSentence = "UPDATE table SET at2 = 'value' WHERE at3 = 'value'"

#updateSentence = "UPDATE table SET at2 = 'value' WHERE at1 = 'value'"

#updateSentence = "UPDATE table SET at3 = at3 + 10" ##


miCursor.execute(updateSentence)

mydb.commit()

##### 2.4 Consultamos la bdd para ver las modificaciones

consultSentence = "SELECT * FROM table"

miCursor.execute(consultSentence)

rows = miCursor.fetchall()

print("=== Después de Actualizar===")

for row in rows:

    print(row)

##### 2.5 Revisión del código de actualizar

In [28]:
import pandas as pd
pd.options.display.max_colwidth = 100
index_labels=["Primero", "Segundo", "Tercero", "Cuarto", "Quinto", "Sexto"]
filas = [["Importar el conector de Python con MySQL."],["Con el conector crear un objeto conexión y con la conexión crear un cursor."], ["Insertar tres tuplas con executemany."],["Imprimir todas las tuplas de la tabla."], ["Modificar las tuplas"],["Imprimir todas las tuplas de la tabla."]]
pd.DataFrame(filas, columns=["Pasos"], index=index_labels)

                                                                               Pasos
Primero                                    Importar el conector de Python con MySQL.
Segundo  Con el conector crear un objeto conexión y con la conexión crear un cursor.
Tercero                                        Insertar tres tuplas con executemany.
Cuarto                                        Imprimir todas las tuplas de la tabla.
Quinto                                                          Modificar las tuplas
Sexto                                         Imprimir todas las tuplas de la tabla.