### Índice

- Introducción a Pandas

- Conceptos sobre DataFrames

- Trabajo práctico en Python con DataFrames

### 1. Introducción a Pandas

- Es una librería de Python (más famosas son Numpy y Pandas)

- Entre las funcionalidades destaca: 
    - **DataFrame** cp,p estructura general para el manejo de datos.
    - Herramientas para leer archivos en distintos formatos.
    - Herramientas para recortar(slicing) los dataframes de las más variadas maneras.
    - Inserción y eliminación de columnas.

### 2. Conceptos sobre DataFrames

- Estructura similar a una tabla:
     - Cada fila tiene un índice
     - El índice también podría tener un nombre
     - Puede crearse a partir de un archivo csv o de un diccionario Python

import pandas as pd

data = {"hombres": [46,67,68], "mujeres":[32,45,67]}

miDataframe = pd.DataFrame(data)

miDataframe = pd.DataFrame(data, index = ["mat121", "fis101", "bio101"])

miDataframe

### 3. Referenciando datos específicos en el Dataframe

Operadores fundamentales (consulta el índice 0):
    - loc
    - iloc

miDataframe.loc["fis101"] #label

miDataframe.iloc[1] #position

df = miDataframe 
df

### 4. Recortando el Dataframe (slicing)

Selecciona columans d eun df para generar uno nuevo
df[["hombres","mujeres"]]

Selecciona la primera fila completa
df.iloc[0,:]

Selecciona la segunda columna completa
df.iloc[:,1]

Seleccionar las primeras dos filas
df.iloc[:,1]

***

### 5. Pandas and SQL

Esto debiese estar escrito en un archivo python en algún editor, para hacerlos correr en MySQL.

### 5.1 Hacer la conexión entre mySQL y la base de datos.

import pandas as pd

import mysql.connector as db

mydb = db.connect(
  
      host = "localhost"
  
      user = "root"
  
      passwd = ""
  
      database = "Energia"
)

### 5.2 Leer directamente el archivo csv hacia un dataframe

df1 = pd.read_csv("data/personas3.csv", sep=";")

df2 = df1[["nombre", "rut", fecha_nac]]

print(df1)

print(df2)

### 5.3 Hacer Slicing sobre el dataframe

print(df2.iloc[0:4,0:1])

print(df2.loc[5:7], [["rut", "nombre"]])

### 5.4 Leer una base de datos desde MySQL y convertirlo en un Dataframe

De manera de poder ejecutar operaciones de pandas sobre la base de datos.

miCursor = mydb.cursor()

sqlSentence = "SELECT * FROM Tabla WHERE atributo > 800 AND atributo < 900"

miCursor.execute(sqlSentence)

rows = miCursor.fetchall()

lista = []

for row in rows:
    lista.append(row)
    
df3 = pd.DataFrame(lista, columns= ["colname1", "colname2", "colname3", "colname4"])

### 5.5 Insertar un DataFrame en la base de datos mediante MySQL

La sentencia INSERT debe tener una lista de tuplas.

Es decir, el dataframe, debo convertirlo en una lista de tuplas.

Para luego insertarlas.

print(df3.loc[:, ["colname1", "colname2", "colname4"]]) #imprimo los valores del data frame, son pasados a una lista.

tuple_list = [tuple(l) for l in df3.values.tolist()] #para cada elemento en la lista, conviértalos en una tupla.

MiCursor.execute("DELETE FROM Table")

mydb.commit()

sqlSentence = "INSERT INTO table('atr1','atr2','atr3','atr4','atr5') VALUES ('val1','val2','val3','val4','val5')"

miCursor.executemany(sqlSentence, tuple_list)

mydb.commit()

### 6. Síntesis

Convertir datos de la bdd a un dataframe, nos permite hacer todas las operaciones que esta librería nos ofrece, y luego volver a ingresarlos.