### Importar librerias y montar drive

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#### Cargar Dataset

In [2]:
df = pd.read_csv("https://storage.googleapis.com/properati-data-public/ar_properties.csv.gz")

In [3]:
df.head()

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,bathrooms,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type
0,r3Gg9UVZRDb4T8lzeUe7nA==,Propiedad,2020-07-12,2020-09-13,2020-07-12,-24.258253,-65.392041,Argentina,Jujuy,San Salvador de Jujuy,...,NaN,1884.0,NaN,2000000.0,ARS,NaN,RE/MAX NOA II VENDE TERRENO EN LA ALMONA,Contacto: Maria Jose Zubillaga - MLS ID # 4208...,Lote,Venta
1,47di/O4g7X9isz32zgzg/Q==,Propiedad,2020-07-12,2020-07-19,2020-07-12,NaN,NaN,Argentina,Jujuy,San Lucas,...,NaN,NaN,NaN,41000.0,USD,NaN,"Lote en Venta en San lucas , countries/b.cerr...",LOTE EN CLUB DE CAMPO SAN LUCAS SE ENCUENTRA ...,Lote,Venta
2,KbbvsBN90bV2ye+/t5N5SA==,Propiedad,2020-07-12,2020-10-13,2020-07-12,-24.774667,-65.426313,Argentina,Salta,Salta,...,NaN,525.0,30.0,125000.0,USD,NaN,VENTA + TERRENO + MACRO CENTRO + APTO EDIFICIO,Corredor Responsable: Pablo Castañeda - C.U.C....,Casa,Venta
3,dpkMxRzt/6kDG6+RhzDShQ==,Propiedad,2020-07-12,2020-08-17,2020-07-12,-24.841623,-65.371510,Argentina,Salta,Salta,...,NaN,NaN,NaN,750000.0,ARS,NaN,Lindo terreno en venta en la nueva urbanizació...,"EN VENTA-Terreno en zona de La Pedrera, sobre ...",Lote,Venta
4,7AnL9PQy/y+Wwffwq2PQVQ==,Propiedad,2020-07-12,2021-04-09,2020-07-12,-24.786705,-65.412460,Argentina,Salta,Salta,...,1.0,41.0,41.0,74000.0,USD,NaN,Av Gral Manuel Belgrano 1900 - U$D 74.000 - D...,"HERMOSO EDIFICIO EN CONSTRUCCION, PROXIMO A EN...",Departamento,Venta

### "Analisis Exploratorio"

In [4]:
print(df.shape)
df.property_type.unique()

(1000000, 25)

array(['Lote', 'Casa', 'Departamento', 'Otro', 'PH', 'Oficina',
       'Local comercial', 'Casa de campo', 'Cochera', 'Depósito'],
      dtype=object)

### Filtrar varias categorias

In [5]:
lista = ['Casa', 'Departamento', 'PH']
df = df[df.property_type.isin(lista)]

#### Filtrar por currency y operation_type

In [6]:
df = df[(df.operation_type=="Venta") & (df.currency=="USD")]

#### Eliminar columnas innecesarias

In [7]:
df = df.drop(columns=["id","created_on", "l1", "l6","end_date", "start_date", "price_period", "currency", "description", "operation_type", "title", "ad_type"])

In [8]:
df.head()

,lat,lon,l2,l3,l4,l5,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type
2,-24.774667,-65.426313,Salta,Salta,NaN,NaN,NaN,NaN,NaN,525.0,30.0,125000.0,Casa
4,-24.786705,-65.412460,Salta,Salta,NaN,NaN,NaN,NaN,1.0,41.0,41.0,74000.0,Departamento
5,-24.774957,-65.426648,Salta,Salta,NaN,NaN,8.0,4.0,1.0,169.0,139.0,53000.0,Casa
9,25.943197,-80.120613,Florida,NaN,NaN,NaN,1.0,NaN,1.0,51.0,51.0,355000.0,Departamento
10,37.090240,-95.712891,Florida,NaN,NaN,NaN,2.0,1.0,1.0,58.0,58.0,360000.0,Departamento

#### Contar Cantidad de Nulos

In [9]:
df.isna().sum() * 100 / df.isna().count()

lat                 9.214936
lon                 9.233641
l2                  0.000000
l3                  3.556338
l4                 69.714816
l5                 99.406949
rooms              15.669191
bedrooms           16.355965
bathrooms           7.350329
surface_total      51.761236
surface_covered    47.482683
price               0.000000
property_type       0.000000
dtype: float64

#### Renombrar columnas

#### Eliminar columnas y filas faltantes

In [10]:
df.drop(columns=["l4", "l5"], inplace=True)

In [11]:
df.dropna(subset=["l3"], inplace=True)

In [12]:
df.head()

,lat,lon,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type
2,-24.774667,-65.426313,Salta,Salta,NaN,NaN,NaN,525.0,30.0,125000.0,Casa
4,-24.786705,-65.412460,Salta,Salta,NaN,NaN,1.0,41.0,41.0,74000.0,Departamento
5,-24.774957,-65.426648,Salta,Salta,8.0,4.0,1.0,169.0,139.0,53000.0,Casa
14,-32.910133,-68.873787,Mendoza,Godoy Cruz,3.0,NaN,1.0,150.0,NaN,40000.0,Casa
23,-32.928382,-68.849922,Mendoza,Godoy Cruz,5.0,3.0,1.0,100.0,76.0,75000.0,Departamento

In [ ]:
df.rename({"l2": "departamento","l3": "ciudad", "l4": "comuna", "l5": "barrio"}, axis=1, inplace=True)

In [ ]:
df.head()

          lat        lon departamento  ... surface_covered     price  property_type
2  -24.774667 -65.426313        Salta  ...            30.0  125000.0           Casa
4  -24.786705 -65.412460        Salta  ...            41.0   74000.0   Departamento
5  -24.774957 -65.426648        Salta  ...           139.0   53000.0           Casa
14 -32.910133 -68.873787      Mendoza  ...             NaN   40000.0           Casa
23 -32.928382 -68.849922      Mendoza  ...            76.0   75000.0   Departamento

[5 rows x 11 columns]

### Outlayers

In [ ]:
df.describe()

                 lat            lon  ...  surface_covered         price
count  435689.000000  435607.000000  ...     2.594030e+05  4.818320e+05
mean      -34.546479     -59.110282  ...     6.518108e+02  2.286020e+05
std         2.677459       2.231958  ...     2.201299e+05  4.212510e+05
min       -54.831793    -122.453172  ...    -5.000000e+00  0.000000e+00
25%       -34.727779     -58.678495  ...     4.700000e+01  8.650000e+04
50%       -34.599850     -58.474419  ...     7.700000e+01  1.400000e+05
75%       -34.475418     -58.398140  ...     1.500000e+02  2.500000e+05
max        49.633731      -0.034332  ...     1.111111e+08  1.111111e+08

[8 rows x 8 columns]

In [ ]:
for col in ['rooms',	'bedrooms',	'bathrooms',	'surface_total',	'surface_covered']:
  media = df[col].mean()
  std = df[col].std()
  res = (df[col] > (media + (2.5*std))) | (df[col] < (media - (2.5*std)))
  df.loc[res, col] = np.nan

In [ ]:
df.describe()

                 lat            lon  ...  surface_covered         price
count  435689.000000  435607.000000  ...    259400.000000  4.818320e+05
mean      -34.546479     -59.110282  ...       142.095054  2.286020e+05
std         2.677459       2.231958  ...      1814.141465  4.212510e+05
min       -54.831793    -122.453172  ...        -5.000000  0.000000e+00
25%       -34.727779     -58.678495  ...        47.000000  8.650000e+04
50%       -34.599850     -58.474419  ...        77.000000  1.400000e+05
75%       -34.475418     -58.398140  ...       150.000000  2.500000e+05
max        49.633731      -0.034332  ...    398830.000000  1.111111e+08

[8 rows x 8 columns]

In [ ]:
df[df.surface_covered>5000]

              lat        lon  ...     price property_type
316    -34.587428 -58.450489  ...  228600.0  Departamento
6436   -34.918206 -57.981956  ...  175000.0          Casa
8030   -34.436859 -58.644891  ...  260000.0  Departamento
8114   -34.436859 -58.644891  ...  283000.0  Departamento
13394  -34.812859 -58.476293  ...  155000.0          Casa
...           ...        ...  ...       ...           ...
960398 -31.642141 -60.705367  ...  135000.0  Departamento
971688 -34.912787 -57.944255  ...  170000.0  Departamento
980961        NaN        NaN  ...   67900.0  Departamento
990922 -34.576139 -58.468259  ...  330000.0  Departamento
992440 -34.649174 -58.413106  ...  125000.0            PH

[180 rows x 11 columns]

#### Imputacion de valores con property_type

In [ ]:
media = df[["surface_covered","property_type"]].groupby("property_type").agg(pd.Series.mean)
media = media.to_dict()["surface_covered"]

In [ ]:
media

{'Casa': 240.59391835538625,
 'Departamento': 86.52676967301473,
 'PH': 128.81486739735362}

In [ ]:
df.set_index("property_type", inplace=True)

In [ ]:
df.surface_covered.fillna(media, inplace=True)

#### Imputacion con variable numerica

In [ ]:
media = df[["surface_total","rooms"]].groupby("rooms").agg(pd.Series.mean)
media = media.to_dict()["surface_total"]
media

{1.0: 51.10104505502111,
 2.0: 76.06895709670148,
 3.0: 127.06886819079875,
 4.0: 193.48356554537756,
 5.0: 275.85879173469965,
 6.0: 335.0796119085593,
 7.0: 394.4324655436447}

In [ ]:
df.reset_index(inplace=True)
df.set_index("rooms", inplace=True)
df.surface_total.fillna(media, inplace=True)

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.head()

   rooms property_type        lat  ...  surface_total surface_covered     price
0    NaN          Casa -24.774667  ...          525.0       30.000000  125000.0
1    NaN  Departamento -24.786705  ...           41.0       41.000000   74000.0
2    NaN          Casa -24.774957  ...          169.0      139.000000   53000.0
3    3.0          Casa -32.910133  ...          150.0      240.593918   40000.0
4    5.0  Departamento -32.928382  ...          100.0       76.000000   75000.0

[5 rows x 11 columns]

#### Imputacion bedrooms por tipo de propiedad

In [ ]:
media = df[["bedrooms","property_type"]].groupby("property_type").agg(pd.Series.median)
media = media.to_dict()["bedrooms"]

In [ ]:
media

{'Casa': 3.0, 'Departamento': 1.0, 'PH': 2.0}

In [ ]:
df.reset_index(inplace=True)
df.set_index("property_type", inplace=True)
df.bedrooms.fillna(media, inplace=True)

In [ ]:
df.isna().sum() * 100 / df.isna().count()

index              0.0
rooms              0.0
lat                0.0
lon                0.0
departamento       0.0
ciudad             0.0
bedrooms           0.0
bathrooms          0.0
surface_total      0.0
surface_covered    0.0
price              0.0
dtype: float64

#### Eliminacion de valores faltantes

In [ ]:
df.dropna(inplace=True)

#### Codificacion de variables no numericas

In [ ]:
df.reset_index(inplace=True)
df.head()

  property_type  index  rooms  ...  surface_total  surface_covered     price
0          Casa      3    3.0  ...     150.000000       240.593918   40000.0
1  Departamento      4    5.0  ...     100.000000        76.000000   75000.0
2          Casa      5    4.0  ...     193.483566       240.593918  110000.0
3          Casa      6    1.0  ...      51.101045        74.000000   85000.0
4  Departamento      7    1.0  ...      51.101045        86.526770   60000.0

[5 rows x 12 columns]

In [ ]:
dicc = {"Casa": 3, "PH": 2, "Departamento": 1}

In [ ]:
df.property_type = df.property_type.map(dicc)

#### Onehot encoding

In [ ]:
dicc = df.departamento.value_counts().iloc[:10].to_dict()
dicc

{'Bs.As. G.B.A. Zona Norte': 54428,
 'Bs.As. G.B.A. Zona Oeste': 33412,
 'Bs.As. G.B.A. Zona Sur': 54105,
 'Buenos Aires Costa Atlántica': 31180,
 'Buenos Aires Interior': 4662,
 'Capital Federal': 121788,
 'Córdoba': 16022,
 'Maldonado': 1934,
 'Neuquén': 2303,
 'Santa Fe': 25651}

In [ ]:
dicc = { k:k for k in dicc.keys() }
dicc

{'Bs.As. G.B.A. Zona Norte': 'Bs.As. G.B.A. Zona Norte',
 'Bs.As. G.B.A. Zona Oeste': 'Bs.As. G.B.A. Zona Oeste',
 'Bs.As. G.B.A. Zona Sur': 'Bs.As. G.B.A. Zona Sur',
 'Buenos Aires Costa Atlántica': 'Buenos Aires Costa Atlántica',
 'Buenos Aires Interior': 'Buenos Aires Interior',
 'Capital Federal': 'Capital Federal',
 'Córdoba': 'Córdoba',
 'Maldonado': 'Maldonado',
 'Neuquén': 'Neuquén',
 'Santa Fe': 'Santa Fe'}

In [ ]:
df.departamento = df.departamento.map(dicc)
df.fillna("Otros", inplace=True)

In [ ]:
pd.get_dummies(df, columns=["departamento"])

        property_type   index  ...  departamento_Otros  departamento_Santa Fe
0                   3       3  ...                   1                      0
1                   1       4  ...                   1                      0
2                   3       5  ...                   0                      0
3                   3       6  ...                   0                      0
4                   1       7  ...                   0                      0
...               ...     ...  ...                 ...                    ...
353287              3  481826  ...                   1                      0
353288              1  481827  ...                   0                      1
353289              1  481828  ...                   0                      1
353290              1  481829  ...                   0                      1
353291              1  481830  ...                   0                      1

[353292 rows x 22 columns]

#### Codificacion por m2

In [ ]:
df["m2"]  = df.price / df.surface_total

In [ ]:
df.head()

   property_type  index  rooms  ...  surface_covered     price           m2
0              3      3    3.0  ...       240.593918   40000.0   266.666667
1              1      4    5.0  ...        76.000000   75000.0   750.000000
2              3      5    4.0  ...       240.593918  110000.0   568.523738
3              3      6    1.0  ...        74.000000   85000.0  1663.371070
4              1      7    1.0  ...        86.526770   60000.0  1174.144285

[5 rows x 13 columns]

In [ ]:
media = df[["bedrooms","property_type"]].groupby("property_type").agg(pd.Series.median)
media = media.to_dict()["bedrooms"]