# Regresión

Vamos a trabajar con el dataset de paltas (*avocados*). Su descripción la pueden encontrar en https://www.kaggle.com/neuromusic/avocado-prices.

### 1. Carga de datos

a. Abrir el dataset (DS_Clase_19_Avocado.csv). Parsear fechas con la columna "Date".

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [1]:
pwd

'C:\\Users\\Lenovo\\Desktop\\AcamicaDS\\Clase 19'

In [7]:
palta = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\AcamicaDS\\Clase 19\\DS_Clase_19_Avocado.csv", delimiter=',')
palta.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

b. Eliminar la columna "Unnamed: 0".

In [ ]:
palta.drop(COMPLETAR, axis = COMPLETAR, inplace = COMPLETAR)
palta.head()

c. Ordenar el dataframe de manera creciente por fecha.

In [ ]:
palta.sort_values(COMPLETAR, inplace = COMPLETAR)
palta.head()

d. Resetear los índices del Dataframe

In [ ]:
palta.reset_index(inplace = COMPLETAR, drop  = COMPLETAR)
palta.head()

### 2. Análisis exploratorio de datos

a. ¿Cuáles variables son numéricas y cuáles categóricas?¿Hay NaNs?

In [ ]:
palta.COMPLETAR().sum()

b. ¿Cuántas regiones hay?¿Cuántas entradas por región?

In [ ]:
palta.groupby([COMPLETAR]).count()

c. Seleccionar solamente las instancias correspondientes a la region "Chicago".

In [ ]:
palta_chicago = palta[palta.COMPLETAR == COMPLETAR]
palta_chicago.reset_index(inplace = True, drop = True)
palta_chicago.head()

d. ¿Cómo son los precios de las paltas en función de las distintas variables?

In [ ]:
# sns.lineplot(x = 'Date', y = 'AveragePrice', data = palta_chicago)
sns.lineplot(x = 'Date', y = 'AveragePrice', data = palta_chicago, hue = 'type')

**Probar con otras variables**

In [ ]:
# sns.lineplot(COMPLETAR)
# o usar las funciones que prefieran

#### Pasar fechas a números

A veces, en lugar de trabajar con fechas, es más fácil pasarlas a un número representativo. La siguiente celda se encarga de eso.

In [ ]:
import datetime as dt
palta_chicago['Date']=palta_chicago['Date'].map(dt.datetime.toordinal)
palta_chicago.head()

### 3. Modelos de regresión

#### Regresión Lineal 1D

Vamos a entrenar un modelo de regresión lineal entre la fecha y el precio promedio de las paltas convencionales.

In [ ]:
palta_chicago_convencional = palta_chicago[palta_chicago.COMPLETAR == COMPLETAR]
palta_chicago_convencional.head()

a. Separamos las variables independientes ('Date') y dependientes ('AveragePrice'). Para trabajar con las fechas, la pasamos a números.

In [ ]:
X = palta_chicago_convencional.COMPLETAR.values
y = palta_chicago_convencional.COMPLETAR.values
print(X.shape, y.shape)

Hacemos un reshape para X. ¿Por qué?

In [ ]:
X = X.reshape(-1,1)
print(X.shape)

b. Separamos en train/test

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(COMPLETAR, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

c. Implementamos y entrenamos el modelo de regresión lineal

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(COMPLETAR)

¿Qué aprendió?

In [ ]:
# print(lr.coef_)
# print(lr.intercept_)
# print(lr.rank_)

Predecimos sobre los datos de train y de test.

In [ ]:
from sklearn.metrics import mean_squared_error
y_train_pred = lr.predict(COMPLETAR)
y_test_pred = lr.predict(COMPLETAR)
print('Error en datos de train:', mean_squared_error(COMPLETAR, COMPLETAR))
print('Error en datos de test:', mean_squared_error(COMPLETAR, COMPLETAR))

Graficamos

In [ ]:
plt.figure(figsize = (10,8))

plt.scatter(X_test, y_test,  color='red', label = 'Datos Test')
plt.plot(X_test, y_test_pred, color='blue', linewidth=5.0, label = 'Prediccion Test')

plt.scatter(X_train, y_train,  color='green', label = 'Datos Train')
plt.plot(X_train, y_train_pred, color='k', linestyle = '--', label = 'Prediccion Train')

plt.legend()
plt.show()

#### KNN y Árboles

1. Entrenar un modelo de árbol de regresión y un modelo de KNN de regresión, primero usando las mismas variables que para la regresión lineal y después agregando más. Por ejemplo, ¿qué pasa si agregamos la variable "type"?¿Cómo trabajan estos modelos con variables categóricas?
2. Evaluar los desempeños de cada modelo. ¿Qué métricas usarían?¿Hay grandes diferencias?