### 1. SQL

In [1]:
# Import the connector
import mysql.connector

In [10]:
# Create the connection
import mysql.connector as db
mydb = db.connect(
    host = 127001,
    user = "root",
    password = ""
)
print(mydb)

TypeError: getaddrinfo() argument 1 must be string or None

In [ ]:
# Create the cursor
mycursor = mydb.cursor()

In [ ]:
# Create data base
mycursor.execute("CREATE DATABASE mydatabase")

In [ ]:
# Create table
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [ ]:
# Check if table exists
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)

In [ ]:
# Create primary key when creating the table
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [ ]:
# Insert into Table
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [ ]:
# Insert multiple rows

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

In [ ]:
# Selects
mycursor.execute("SELECT * FROM customers")
# mycursor.execute("SELECT name, address FROM customers")
# sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"
# sql = "SELECT * FROM customers WHERE address LIKE '%way%'"
# sql = "SELECT * FROM customers ORDER BY name"
# sql = "SELECT * FROM customers ORDER BY name DESC"
# mycursor.execute(sql)

myresult = mycursor.fetchall()
# myresult = mycursor.fetchone()

for x in myresult:
  print(x)

In [ ]:
# Delete and Drop
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"
# sql = "DELETE FROM customers WHERE address = %s"
# sql = "DROP TABLE customers"
# sql = "DROP TABLE IF EXISTS customers"
# mycursor.execute("SELECT * FROM customers LIMIT 5")
# mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

mycursor.execute(sql)

In [ ]:
# Update tables
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

In [ ]:
# Joins

# Inner Join
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

# Left Join
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"
mycur sor.execute(sql)


# Right Join
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"

### 2. Mongo DB

In [3]:
# Import Library
import pymongo

In [13]:
# Create a database called "mydatabase"
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

In [14]:
# Check if database exists
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")

print(myclient.list_database_names())

The database exists.
['admin', 'config', 'local', 'mydatabase']

In [23]:
# Create a collection
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]

mycol = mydb["customers"]

In [25]:
# Check if collection exists
print(mydb.list_collection_names())
collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")

['feriados', 'customers', 'feriados2020']
The collection exists.

In [26]:
# Instert into collection
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [28]:
# Return the _id Field
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

61db738f098417fba3451a12

In [29]:
# Insert Multiple Documents
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('61db73ae098417fba3451a14'), ObjectId('61db73ae098417fba3451a15'), ObjectId('61db73ae098417fba3451a16'), ObjectId('61db73ae098417fba3451a17'), ObjectId('61db73ae098417fba3451a18'), ObjectId('61db73ae098417fba3451a19'), ObjectId('61db73ae098417fba3451a1a'), ObjectId('61db73ae098417fba3451a1b'), ObjectId('61db73ae098417fba3451a1c'), ObjectId('61db73ae098417fba3451a1d'), ObjectId('61db73ae098417fba3451a1e'), ObjectId('61db73ae098417fba3451a1f')]

In [30]:
# Insert Multiple Documents, with Specified IDs
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [33]:
# Find Document
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.find_one()
print(x)

{'_id': ObjectId('61db7294098417fba3451a0b'), 'name': 'John', 'address': 'Highway 37'}

In [34]:
# Find all
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find():
  print(x)

{'_id': ObjectId('61db7294098417fba3451a0b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db72a8098417fba3451a0c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db72b6098417fba3451a0d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db72cc098417fba3451a0e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db736c098417fba3451a11'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db738f098417fba3451a12'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61db73ae098417fba3451a14'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61db73ae098417fba3451a15'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61db73ae098417fba3451a16'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61db73ae098417fba3451a17'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61db73ae098417fba3451a18'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61db73ae098417fba3451a19'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61db73ae098417fba3451a1a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61db73ae098417fba3451a1b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61db73ae098417fba3451a1c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61db73ae098417fba3451a1d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61db73ae098417fba3451a1e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61db73ae098417fba3451a1f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [35]:
# Return Only some Fields
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [36]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [37]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('61db7294098417fba3451a0b'), 'name': 'John'}
{'_id': ObjectId('61db72a8098417fba3451a0c'), 'name': 'John'}
{'_id': ObjectId('61db72b6098417fba3451a0d'), 'name': 'John'}
{'_id': ObjectId('61db72cc098417fba3451a0e'), 'name': 'John'}
{'_id': ObjectId('61db736c098417fba3451a11'), 'name': 'John'}
{'_id': ObjectId('61db738f098417fba3451a12'), 'name': 'Peter'}
{'_id': ObjectId('61db73ae098417fba3451a14'), 'name': 'Amy'}
{'_id': ObjectId('61db73ae098417fba3451a15'), 'name': 'Hannah'}
{'_id': ObjectId('61db73ae098417fba3451a16'), 'name': 'Michael'}
{'_id': ObjectId('61db73ae098417fba3451a17'), 'name': 'Sandy'}
{'_id': ObjectId('61db73ae098417fba3451a18'), 'name': 'Betty'}
{'_id': ObjectId('61db73ae098417fba3451a19'), 'name': 'Richard'}
{'_id': ObjectId('61db73ae098417fba3451a1a'), 'name': 'Susan'}
{'_id': ObjectId('61db73ae098417fba3451a1b'), 'name': 'Vicky'}
{'_id': ObjectId('61db73ae098417fba3451a1c'), 'name': 'Ben'}
{'_id': ObjectId('61db73ae098417fba3451a1d'), 'name': 'William'}
{'_id': ObjectId('61db73ae098417fba3451a1e'), 'name': 'Chuck'}
{'_id': ObjectId('61db73ae098417fba3451a1f'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [39]:
# Filter the result
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('61db73ae098417fba3451a1c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [40]:
# Advanced Query
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('61db73ae098417fba3451a16'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61db73ae098417fba3451a19'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61db73ae098417fba3451a1b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61db73ae098417fba3451a1f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [41]:
# Filter With Regular Expressions
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('61db73ae098417fba3451a19'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61db73ae098417fba3451a1f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [42]:
# Sort the Result
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('61db73ae098417fba3451a14'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61db73ae098417fba3451a1c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61db73ae098417fba3451a18'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61db73ae098417fba3451a1e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61db73ae098417fba3451a15'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61db7294098417fba3451a0b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db72a8098417fba3451a0c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db72b6098417fba3451a0d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db72cc098417fba3451a0e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db736c098417fba3451a11'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db73ae098417fba3451a16'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61db738f098417fba3451a12'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61db73ae098417fba3451a19'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61db73ae098417fba3451a17'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61db73ae098417fba3451a1a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61db73ae098417fba3451a1b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61db73ae098417fba3451a1f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('61db73ae098417fba3451a1d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [43]:
# Sort Descending
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('61db73ae098417fba3451a1d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61db73ae098417fba3451a1f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('61db73ae098417fba3451a1b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61db73ae098417fba3451a1a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61db73ae098417fba3451a17'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61db73ae098417fba3451a19'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61db738f098417fba3451a12'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61db73ae098417fba3451a16'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61db7294098417fba3451a0b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db72a8098417fba3451a0c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db72b6098417fba3451a0d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db72cc098417fba3451a0e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db736c098417fba3451a11'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61db73ae098417fba3451a15'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61db73ae098417fba3451a1e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61db73ae098417fba3451a18'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61db73ae098417fba3451a1c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61db73ae098417fba3451a14'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [44]:
# Delete Document
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

In [45]:
# Delete many Documents
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [46]:
# Delete all Documents in a Collection
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

27  documents deleted.

In [47]:
# Delete a collection
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mycol.drop()

In [48]:
# Update Collection
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

In [ ]:
# Update Many
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

In [ ]:
# Limit the Result
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
  print(x)