In [1]:
import pandas as pd

In [2]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

## Create A MultiIndex with the `.set_index()` Method

In [3]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [4]:
bigmac.set_index(keys = ["Date", "Country"], inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35

In [5]:
bigmac.sort_index(inplace = True)

In [6]:
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [7]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [8]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [9]:
bigmac.index[0]

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

## The `.get_level_values()` Method

In [10]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [11]:
bigmac.index.get_level_values(0)
bigmac.index.get_level_values("Date")

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [12]:
#bigmac.index.get_level_values(1)
bigmac.index.get_level_values("Country")

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

## The `.set_names()` Method on MultiIndex

In [13]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [14]:
bigmac.index.set_names(["Date", "Location"], inplace = True)

In [15]:
bigmac.head(3)

                      Price in US Dollars
Date       Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

## Extract Rows from a `MultiIndex DataFrame`

In [16]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [17]:
bigmac.loc[("2010-01-01", "Brazil"), "Price in US Dollars"]

Date        Country
2010-01-01  Brazil     4.76
Name: Price in US Dollars, dtype: float64

In [18]:
bigmac.loc[("2015-07-01", "Chile"), "Price in US Dollars"]

Date        Country
2015-07-01  Chile      3.27
Name: Price in US Dollars, dtype: float64

In [19]:
bigmac.ix[("2016-01-01", "China"), 0]

AttributeError: 'DataFrame' object has no attribute 'ix'

## The `.transpose()` Method

In [ ]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

In [ ]:
bigmac = bigmac.transpose()
bigmac.head(1)

In [ ]:
bigmac.ix["Price in US Dollars", ("2016-01-01", "Denmark")]

## The `.swaplevel()` Method

In [ ]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

In [ ]:
bigmac = bigmac.swaplevel()
bigmac.head(3)

## The `.sort_index()` Method on a MultiIndex `DataFrame`

In [ ]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

In [ ]:
bigmac.sort_index(ascending = [True, False], inplace = True)

In [ ]:
bigmac.head(3)

## The `pivot` Method

In [ ]:
sales = pd.read_csv("salesmen.csv", parse_dates = ["Date"])
sales["Salesman"] = sales["Salesman"].astype("category")
sales.head(3)

## The `.stack()` Method

In [ ]:
world = pd.read_csv("worldstats.csv", index_col = ["country", "year"])
world.head(3)

In [ ]:
world.stack().to_frame()

## The `.unstack()` Method, Part 3

In [ ]:
world = pd.read_csv("worldstats.csv", index_col = ["country", "year"])
s = world.stack()
s.head(3)

In [ ]:
s.unstack(level = ["year", "country"])

In [ ]:
s = s.unstack("year", fill_value = 0)

In [ ]:
s.head()

## The `pivot_table()` Method

In [ ]:
foods =pd.read_csv("foods.csv")
foods.head(3)

In [ ]:
foods.pivot_table(values = "Spend", index = ["Gender", "Item"], columns = "City", aggfunc = "min").head(3)

In [ ]:
pd.pivot_table(data = foods, values = "Spend", index = ["Gender", "Item"], columns = "City", aggfunc = "min").head(3)

## The `pd.melt()` Method

In [ ]:
sales = pd.read_csv("quarters.csv")
sales

In [ ]:
pd.melt(sales, id_vars = "Salesman", var_name = "Quarter", value_name = "Revenue")